torch
numpy
pandas
matplotlib
transformers==4.5.1
tensorboardX
SmilesPE==0.0.3
OpenNMT-py==2.2.0
rdkit-pypi==2021.3.2.2
albumentations @ git+https://github.com/albumentations-team/albumentations@37e714fd2e326f6f88778e425f98c2de8c8d5372
timm @ git+https://github.com/rwightman/pytorch-image-models.git@54a6cca27a9a3e092a07457f5d56709da56e3cf5