torch
torchvision
numpy>=1.19.5,<2.0
pandas>=1.2.4
matplotlib>=3.5.3
opencv-python==4.5.5.64
transformers>=4.5.1
huggingface-hub>=0.11.0
tensorboardX
SmilesPE==0.0.3
OpenNMT-py==2.2.0
rdkit>=2022.3.3
albumentations @ git+https://github.com/albumentations-team/albumentations@37e714fd2e326f6f88778e425f98c2de8c8d5372
timm @ git+https://github.com/rwightman/pytorch-image-models.git@54a6cca27a9a3e092a07457f5d56709da56e3cf5